/msvc/licenses
/msvc/bin
/msvc/fonts
/msvc/lib
/msvc/include/bzlib.h
/msvc/include/ass
/msvc/include/cdio
/msvc/include/fontconfig
/msvc/include/freetype2
/msvc/include/fribidi
/msvc/include/gme
/msvc/include/gnutls
/msvc/include/harfbuzz
/msvc/include/lame
/msvc/include/libavdevice
/msvc/include/libavformat
/msvc/include/libavutil
/msvc/include/libbluray
/msvc/include/libmodplug
/msvc/include/libpostproc
/msvc/include/libssh
/msvc/include/libswresample
/msvc/include/libswscale
/msvc/include/libxml2
/msvc/include/lzma
/msvc/include/mfx
/msvc/include/nettle
/msvc/include/ogg
/msvc/include/opus
/msvc/include/SDL
/msvc/include/speex
/msvc/include/theora
/msvc/include/vorbis
/msvc/include/vpx
/msvc/include/zlib.h
/msvc/include/gcrypt.h
/msvc/include/gmp.h
/msvc/include/gmpxx.h
/msvc/include/gpg-error.h
/msvc/include/iconv.h
/msvc/include/ilbc.h
/msvc/include/lzma.h
/msvc/include/soxr.h
/msvc/include/soxr-lsr.h
/msvc/include/x264.h
/msvc/include/x264_config.h
/msvc/include/xvid.h
/msvc/include/zconf.h
/msvc/include/libavfilter
/msvc/include/libavcodec
/msvc/include/x265_config.h
/msvc/include/x265.h
/msvc/x64/bin/lib/x64/*.pdb
